# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/flutter/ephemeral/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Android related
android/.gradle/
android/app/build/
android/app/app.iml
android/local.properties
android/.idea/
android/gradle/
android/gradlew
android/gradlew.bat
android/build/

# iOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json

# Web related
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/.packages
web/build/

# Miscellaneous
*.log
*.lock
*.pyc
*.pyo
*.swp
.DS_Store
.env